<title>HomePage - Monthly Claim System</title>

<link rel="stylesheet" href="~/css/homePage.css" />

<h1>Welcome To the home page</h1>




<div class="role-card">
    <h2>Submit Claims</h2>
    <a href="@Url.Action("ClaimPage", "Home")">Claim</a>
    
</div>


<div class="role-card">
    <h2>Track Claims</h2>
    <a href="@Url.Action("TrackClaim", "Home")">Track Claim</a>
</div>

